@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-size: 1rem;
    line-height: 1.9rem;
}

p,span, label, input, textarea, li{
    color: var(--secondaryTextColor);
}

a{
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }
}

/* Logo and Navigation Menu */
nav{
    background-color: #acd0ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    /* box-shadow: 0 0 5vw rgba(0, 0, 0, 0.5); */
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: #fff;
}


nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: #fff;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger{
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

.homepage{
    background-color: #f5f5dc;
}

/* Article */
main{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #F6BFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.article{
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.article h2{
    font-size: 27px;
    margin-bottom: 2.5rem;
    width: 100%;
    color: #fff;
}

.article-item{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 0.5rem;
    max-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease;
}

.article-item:hover{
    transform: scale(1.1);
}

.article-item img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-item h3{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.article-item p{
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.article-item button{
    background-color: #F6BFFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.article-item button:hover{
    background-color: #ECAFF6;
    color: white;
}

/* Sharing */
#sharing {
    padding: 3rem 0;
    background-color: #8badd9;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 .5rem;
    color: #fff;
}

.pre-title {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin: .5rem 0 2rem;
}

.sharing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.sharing-left {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.sharing-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sharing-right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.container {
    margin-bottom: 20px;
}

.select-box {
    width: 40%;
    max-width: 400px;
    position: relative;
    margin-bottom: 1.4rem;
}

.selected {
    background: #b6c6db;
    border: 1px solid #a0b0c6;
    border-radius: 3px;
    color: #f5f6fa;
    padding: 12px 24px;
    padding-right: 40px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    font-size: 16px;
    position: relative; 
}

.selected::after {
    content: "";
    background: url("chevron-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 16px;
    height: 16px;
    width: 16px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s;
}

.selected:focus {
    outline: none;
}

.options-container {
    background: #b6c6db;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #a0b0c6;
    border-radius: 3px;
}

.options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: auto;
}

.options-container::-webkit-scrollbar {
    width: 8px;
    background: #6b83be;
    border-radius: 3px;
}

.options-container::-webkit-scrollbar-thumb {
    background: #f5f5dc;
    border-radius: 3px;
}

.option, .selected {
    padding: 12px 24px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.option:hover {
    background: #6a8ee7;
}

.option .radio {
    display: none;
}

.choose {
    margin-bottom: 0.7rem; /* Reduce the margin-bottom */
}

.sharing-form div {
    margin-bottom: 1.4rem;
}

.sharing-form input, .sharing-form textarea, .sharing-form select {
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #b6c6db;
    border: 1px solid #a0b0c6;
    border-radius: 3px;
    resize: none;
}

.sharing-form input::placeholder, .sharing-form textarea::placeholder {
    color: #fff;
}

.sharing-form input:focus, .sharing-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.sharing-form .input-field {
    margin-bottom: 1.4rem; /* Added margin for consistent spacing */
}

.sharing-form .input-field:last-of-type {
    margin-bottom: 0; /* Remove margin-bottom from last input field to avoid extra space */
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: #AEBCDD;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-submit:hover {
    background: #6a8ee7;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #fff;
}

.radio-item input {
    margin-right: 5px;
}

.choose .radio-group {
    margin-bottom: 0; /* Remove margin bottom for radio group */
     display: flex;
     align-items: center; 
}

.selected option[disabled] {
    display: none; /* Hide the default "Sharing Category" option when the dropdown is opened */
}

/* Copyright */
footer{
    padding: 1rem;
    background: #adc0ef;
    text-align: center;
    color: #fff;
}

/* Popup */
.popup-box{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.popup-box.open{
  visibility: visible;
	opacity:1;	
}

 .popup-box .popup-content{
	background-color: #f5f5dc;
	width: 800px;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius: 8px;
} 

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
    text-align: center;
	margin:0;
	color:#F6BFFF;
	font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-box .popup-body{
	padding: 15px;
	max-height: 300px;
	overflow-y: auto;
}
.popup-box .popup-body img{
	width: 100%;
	display: block;
	margin-top: 15px;
}
.popup-box .popup-body p{
	font-size: 16px;
	color:#555555;
	margin:0 0 15px;
}

.popup-box .popup-body h2{
	font-size: 18px;
	color:#555555;
	margin:0 0 15px;
}

.popup-box .popup-footer{
	padding: 15px;
	border-top:1px solid #dddddd;
	text-align: right;
}
.popup-box .popup-footer .btn{
	padding: 8px 15px;
	border:1px solid #555555;
	color:#555555;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 4px;
}
.popup-box .popup-footer .btn:focus{
	outline: none;
}

/*responsive*/

@media(max-width: 767px){
	.article .article-item{
	  flex:0 0 100%;
      max-width: 100%;
   }
   .popup-box .popup-content{
   	 width: calc(100% - 30px);
   }
}

.read-more-cont{
	display: none;
}

/* .read-more-cont p h2{
    font-size: 16px;
	color:#555555;
	margin:0 0 15px;
} */