/* Set basic background and font colors based on the theme */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E1EBF7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8BADD9;
    position: fixed;
    color: #ffffff;
    padding: 10px 20px;
    left: 0;
    right: 0;
    max-width: 1270px;
    margin: 0 auto;
    z-index: 2;
}

header h1 {
    margin: 0;
    padding-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #EED4F7;
}

.auth a {
    display: inline-block;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #ADC0EF;
    margin-left: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.auth a:hover {
    background-color: #EED4F7;
    color: #ffffff;
}

.auth a i {
    margin-right: 5px;
}

/* Main content area styling */
main {
    padding: 20px;
    text-align: center;
}

/* Sections styling */
section {
    margin: 20px 0;
    background-color: #D8D7F6;
    padding: 20px;
    border-radius: 10px;
}

section#home {
    margin-top: 20px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    100% { transform: translateX(-100%); }
}

.slideshow-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.left-slide,
.right-slide {
    width: calc((100% - 650px) / 2);
    height: calc((650px * 9 / 16) - 4px);
    overflow: hidden;
    border: 2px solid #ADC0EF;
    border-radius: 15px;
    margin: 0 10px;
}

.left-slide img,
.right-slide img {
    width: 100%;
    height: auto;
}

.slideshow {
    position: relative;
    width: 65%;
    max-width: 650px;
    height: 0;
    padding-top: calc(650px * 9 / 16);
    overflow: hidden;
    margin: 0 10px;
    border: 2px solid #ADC0EF;
    border-radius: 15px;
}

.slideshow-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
    z-index: 1;
    border-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: -17px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #D8D7F6;
    border-radius: 10px;
    text-align: center;
    margin-bottom: -18px;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: #EED4F7;
}

.grid-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

.grid-item h2 {
    margin: 0;
    text-align: center;
}

/* Carousel video styling */
.video-carousel {
    display: flex;
    justify-content: center; /* Memastikan konten di tengah secara horizontal */
    align-items: center; /* Memastikan konten di tengah secara vertikal */
    flex-direction: column;
    width: 100%; /* Menggunakan lebar penuh */
    margin-top: 20px;
    position: relative;
}

.video-slide {
    display: none;
    justify-content: center;
    align-items: center;
}

.video-slide.active {
    display: block;
}

.video-carousel button {
    background-color: #8BADD9;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.video-carousel button:hover {
    background-color: #ADC0EF;
}

.video-carousel iframe {
    width: 100%; /* Menyesuaikan iframe agar cocok dengan container */
    height: 400px; /* Atur tinggi sesuai kebutuhan */
    margin-top: 20px; /* Menjaga jarak atas */
    border-radius: 10px; /* Opsi tambahan untuk membulatkan sudut video */
}

@media (max-width: 768px) {
    .video-carousel iframe {
        height: 300px; /* Menyesuaikan tinggi video di perangkat kecil */
    }
}

footer {
    background-color: #ADC0EF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1270px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 25px;
}

.footer-container div {
    margin: 20px;
}

.footer-logo h1 {
    margin: 0;
    color: #fff;
}

.footer-logo p {
    color: #fff;
}

.footer-contact h3,
.footer-social h3 {
    color: #fff;
}

.footer-contact p,
.footer-social ul {
    margin: 5px 0;
    color: #fff;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    margin: 5px 0;
}

.footer-social ul li a {
    color: #fff;
}

.footer-social ul li a i {
    margin-right: 8px;
}

.footer-bottom {
    background-color: #8BADD9;
    padding: 10px;
    text-align: center;
    margin-bottom: -20px;
}

.footer-bottom p {
    margin: 0;
    color: #fff;
}

.footer-divider {
    border-left: 2px solid #fff;
    height: auto;
    margin: 20px 0;
}

/* Responsive design elements */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-top: 10px;
    }

    header, footer {
        padding: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-container div {
        text-align: left;
        width: 100%;
        padding: 0 20px;
    }

    .footer-divider {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

}
